:root{
  --mainGreen:#23614e;
  --lightGreen:#83ac8b;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#d6c804;
  --green2:rgb(59, 104, 90);
}

body{
  font-family: "Quantico", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Stalinist One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-green{
  color: var(--mainGreen);
}

.text-bright{
  color: var(--lightGreen);
}

.navbar{
  background-color: var(--green2);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(138, 49, 49);
}

.card{
  width: 100% !important;
  height: 100% !important;
}